#websketch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2147483647;
  pointer-events: auto;
  touch-action: none;
}

#websketch-overlay.websketch-pan-mode {
  pointer-events: none;
}

#websketch-overlay canvas {
  display: block;
}

#websketch-overlay.websketch-hidden {
  display: none;
}
